@model Livraria.Models.Livro

@{
    ViewData["Title"] = "Details Livro";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutorId_autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutorId_autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditoraId_editora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditoraId_editora)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
